################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HW4-mamat/v16/Browse.VC.opendb
